.container {
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-width: 480px;
  object-fit: contain;
}

.title {
  text-align: center;
  color: #fff;
  line-height: 1.4;
  margin: 28px 0px;
}

.infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoBox {
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 5px;
  transition: transform 0.2s;
}

.infoBox:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 580px) {
  .heroImage {
    max-width: 80%;
  }

  .title {
    font-size: 26px;
  }

  .infos {
    flex-direction: column;
  }

  .infoBox {
    width: 80%;
    margin-bottom: 20px;
  }
}
